<header class="header">
  <div class="container nav-container">
    <a href="/" class="logo">ShopEase</a>
    <button class="hamburger" id="hamburger">&#9776;</button>
    <nav class="nav" id="nav">
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
  </div>
</header>